	
	.div1{
		float: left;
		background-color: red;
		text-align: center;
		font-weight: bold;
		color:white;
		width: 33%;
		height: 50px;

	}

	.div2{
		float: left;
		background-color: green;
		text-align: center;
		font-weight: bold;
		color:white;
		width: 33%;
		height: 50px;

	}

	.div3{
		float: left;
		background-color: blue;
		text-align: center;
		font-weight: bold;
		color:white;
		width: 33%;
		height: 50px;

	}
	h1{

		text-align: center;
	}
